
<template>
    <v-card>
      <v-layout>
        <v-app-bar
          color="primary"
          prominent
        >
          <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
  
          <v-toolbar-title>Crud</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <template v-if="$vuetify.display.mdAndUp">
            <v-btn icon="mdi-magnify" variant="text"></v-btn>
  
            <v-btn icon="mdi-filter" variant="text"></v-btn>
          </template>
  
          <v-btn icon="mdi-dots-vertical" variant="text"></v-btn>
        </v-app-bar>
  
        <v-navigation-drawer
          v-model="drawer"
          :location="$vuetify.display.mobile ? 'bottom' : undefined"
          temporary
        >
          <v-list
            :items="items"
          ></v-list>
        </v-navigation-drawer>
  
        <v-main style="height: 500px;">
          <v-card-text>
            Vista de listas
          </v-card-text>
        </v-main>
      </v-layout>
    </v-card>
  </template>
  
  <script>
  
    export default {
      data: () => ({
        drawer: false,
        group: null,
        items: [
          {
            title: 'Perfil',
            value: 'perfil',
          },
          {
            title: 'Listas',
            value: 'listas',
          },
          {
            title: 'Usuarios',
            value: 'usuarios',
          },
          {
            title: 'Contacto',
            value: 'Contacto',
          },
        ],
      }),
  
      watch: {
        group () {
          this.drawer = false
        },
      },
    }
  </script>